.form {
    position: relative;
    max-width: 400px;
    width: 100%;
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;

    @media (max-width: 768px) {
        margin-bottom: 2rem;
    }

    & > button {
        position: absolute;
        z-index: 2;
        top: var(--spacing---sm);
        right: var(--spacing---sm);
        height: 40px;
        width: 40px;
        border-radius: var(--radius--sm);
        border: none;
        background: var(--base---gray-700);
        cursor: pointer;

        &:disabled {
            opacity: .6;
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            background: var(--base---gray-600);
        }
    }
}

.input {
    position: relative;
    z-index: 1;
    --submit-button-width: 40px;
    width: 100%;
    padding-left: var(--spacing---md);
    padding-right: calc(var(--submit-button-width) + var(--spacing---md));
    height: 56px;
    border-radius: var(--radius--md);
    border: 1px solid var(--base---gray-400);
    background-color: var(--base---gray-300);

    &:focus,
    &:active {
        outline: none;
        border-width: 1.5px;
        border-color: var(--main---pink);
    }
}

.suggestion {
    margin-top: .25rem;
    display: inline-block;

    button {
        text-decoration: underline;
        color: var(--main---pink);
        border: none;
        cursor: pointer;
        background: transparent;
    }
}